AWS-Step-function/prototype-etl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SplitFile-Lambda",
  "States": {
    "SplitFile-Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:905418415996:function:DataSplit:$LATEST",
      "Parameters": {
        "bucket_name.$": "$.bucket_name",
        "tenant_id.$": "$.tenant_id",
        "file_key.$": "$.file_key",
        "chunk_size.$": "$.chunk_size"
      },
      "Next": "ProcessChunks",
      "ResultPath": "$.split_file_output"
    },
    "ProcessChunks": {
      "Type": "Map",
      "InputPath": "$.split_file_output",
      "ItemsPath": "$.chunk_keys",
      "MaxConcurrency": 1,
      "Parameters": {
        "chunk_key.$": "$$.Map.Item.Value",
        "correlation_id.$": "$.correlation_id",
        "tenant_id.$": "$.tenant_id"
      },
      "Iterator": {
        "StartAt": "DataExtraction-Lambda",
        "States": {
          "DataExtraction-Lambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:905418415996:function:Phase3-Data-Extraction",
            "Parameters": {
              "chunk_key.$": "$.chunk_key",
              "correlation_id.$": "$.correlation_id",
              "tenant_id.$": "$.tenant_id"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "IntervalSeconds": 30,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "HandleDataExtractionErrorLambda",
                "ResultPath": "$.error"
              }
            ],
            "Next": "Transformation-Lambda",
            "ResultPath": "$.extracted"
          },
          "Transformation-Lambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:905418415996:function:Phase3-Transformation",
            "Parameters": {
              "chunk_key.$": "$.chunk_key",
              "correlation_id.$": "$.correlation_id",
              "tenant_id.$": "$.tenant_id",
              "filepath.$": "$.extracted.filepath"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 30,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "RevertDataFromTransformationLambda",
                "ResultPath": "$.error"
              }
            ],
            "Next": "LoadDataLambda",
            "ResultPath": "$.transformed"
          },
          "LoadDataLambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:905418415996:function:Phase3-DataLoad",
            "Parameters": {
              "input_to_lambda.$": "$.transformed"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 30,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "RevertDataFromLoadErrorLambda",
                "ResultPath": "$.error"
              }
            ],
            "Next": "BackupDataLambda",
            "ResultPath": "$.loaded"
          },
          "BackupDataLambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:905418415996:function:Phase3-BackupData",
            "Parameters": {
              "input_to_lambda.$": "$.loaded"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 60,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "End": true
          },
          "HandleDataExtractionErrorLambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:905418415996:function:HandleDataExtractionErrorLambda:$LATEST",
            "Parameters": {
              "input_to_lambda.$": "$.error"
            },
            "End": true
          },
          "RevertDataFromTransformationLambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:905418415996:function:RevertDataFromTransformationLambda:$LATEST",
            "Parameters": {
              "input_to_lambda.$": "$.error"
            },
            "End": true
          },
          "RevertDataFromLoadErrorLambda": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:905418415996:function:HandleDataExtractionErrorLambda:$LATEST",
            "Parameters": {
              "input_to_lambda.$": "$.error"
            },
            "End": true
          }
        }
      },
      "End": true
    }
  }
}